body{
    background-image: url("/static/recommender/css/bg.jpg");
}
a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.head-span{
    background-color: #28a745;
    opacity: 0.9;
    padding: 5px;
    border: 1px solid white;
}

.base-heading-one{
    margin-bottom: 18px;
}

.make-form{
    display: flex !important;
}

.thead{
    background-color: sandybrown;
}

.hidden{
    opacity: 0;
}

.btn-sm{
    background-color: sandybrown !important;
    outline: none;
}

tr:hover .hidden{
    opacity: 1;
}

.movie-info{
    background-color: #ffeeba !important;
    border-radius: 16px;
}

.movie-info-header{
    background-color: sandybrown;
}