{% extends "recommender/base.html" %}

{% block title %}Movie Recommender{% endblock %}

{% block body %}
    <div class="container-fluid">
    <div class="row mb-5 justify-content-center">
        <div class="p-0 col-10 movie-info">
            <div class="text-center movie-info-header">
                <h1>Movie Info</h1>
            </div>
            <div class="pl-3 d-flex justify-content-start flex-column">
               <h2 class=""><span class="text-muted">movie name:</span> {{movie.title}}</h2>
                <h3><span class="text-muted">release year:</span>{{movie.year}}</h3>
                <h4><span class="text-muted">rating:</span> {{ratings.average_rating}}</h4>
                <h5><span class="text-muted">no of votes:</span> {{ratings.num_votes}}</h5>
            </div>

        </div>

    </div>
    <div class="row justify-content-center">
            <div class="col-6">
            <form class="mb-2" action="{% url 'similar' %}" method="get">
                <input type="hidden" name="movie_id" value="{{movie.movie_id}}">
                <input type="hidden" name="search_type" value="title">
                <div class="text-center">
                    <button class="w-100 btn btn-success btn-lg" type="submit">Find similar movies by similar words in title</button>
                </div>
            </form>
            <form class="mb-2" action="{% url 'similar' %}?" method="get">
                <input type="hidden" name="movie_id" value="{{movie.movie_id}}">
                <input type="hidden" name="search_type" value="director">
                <div class="text-center">
                    <button class="w-100 btn btn-success btn-lg" type="submit">Find movies by same director</button>
                </div>
            </form>
            <form class="mb-2" action="{% url 'similar' %}" method="get">
                <input type="hidden" name="movie_id" value="{{movie.movie_id}}">
                <input type="hidden" name="search_type" value="genre">
                <div class="text-center">
                    <button class="w-100 btn btn-success btn-lg" type="submit">Find popular movies of same genre</button>
                </div>
            </form>

        </div>
        <div class="col-6">
            <form class="mb-2" action="{% url 'similar' %}" method="get">
                <input type="hidden" name="movie_id" value="{{movie.movie_id}}">
                <input type="hidden" name="search_type" value="year">
                <div class="text-center">
                    <button class="w-100 btn btn-success btn-lg" type="submit">Find movies of same genre released in the same year</button>
                </div>
            </form>
            <form class="mb-2" action="{% url 'updatemovie' %}" method="get">
                <input type="hidden" name="movie_id" value="{{movie.movie_id}}">
                <div class="text-center">
                    <button class="w-100 btn btn-success btn-lg" type="submit">Update movie</button>
                </div>
            </form>
            <form class="mb-2" action="{% url 'deletemovie' %}" method="get">
                <input type="hidden" name="movie_id" value="{{movie.movie_id}}">
                <div class="text-center">
                    <button class="w-100 btn btn-success btn-lg" type="submit">Delete movie</button>
                </div>
            </form>
        </div>
    </div>
    </div>


{% endblock %}