{% extends "recommender/base.html" %}

{% block title %}Movie Recommender{% endblock %}

{% block body %}
Similar movies!
    <table class=" mb-5  table shadow table-hover text-dark table-borderless">
          <thead class="thead">
            <tr>
              <th class="pl-5" scope="col">Movie Name</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for movie in movies %}
                <tr class="table-warning">
                    <td class="pl-5">{{movie.title}}</td>
                    <td >
                        <a class="hidden" href="{% url 'movie' %}?movie_id={{movie.movie_id}}">
                            <button class="btn btn-sm btn-success px-3">
                                Details
                            </button>
                        </a>
                    </td>
                </tr>
             {% endfor %}
          </tbody>
    </table>
{#<ul class="list-group">#}
{#    {% for movie in movies %}#}
{#      <li class="list-group-item"><a href="{% url 'movie' %}?movie_id={{movie.movie_id}}">{{movie.title}}</a></li>#}
{#    {% endfor %}#}
{#  </ul>#}
{% endblock %}